.formpage-maincontainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formpage-container {
    width: 90%;
    height: 100%;
}

.formpage-container form {
    display: flex;
    flex-direction: column;
    background-color: #0a323f;
    padding: 10px;
    border-radius: 8px
}

.formpage-container label {
    margin: 5px 0;
    font-size: 15px;
    color: #6c8b92
}

.formpage-container input {
    padding: 8px;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 8px;
    margin: 5px 0;
    background-color: #a4bbbf
}

.formpage-namecontainer {
    height: 80px;
    font-size: 20px;
    color: #bc8400;
    display: flex;
    align-items: center;
}

.formpage-container a {
    border-radius: 8px;
    text-decoration: none;
    padding: 8px 12px;
    font-size: 16px;
    color: white;
    background-color: #6c8b92;
}

.formpage-container button, .formpage-formbutton {
    background-color: #bc8400 !important;
    border: none;
    outline: none;
    padding: 8px 12px;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
}

.formpage-buttonaction {
    margin-top: 18px;
    margin-bottom: 12px;
}

.formpage-container button:hover, .formpage-formbutton:hover {
    cursor: pointer;
}