.add-formcontainer {
    flex: 1;
    justify-content: center;
    align-items: center;
    color: white;
    height: 91vh;
}


.formcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.formcontainer form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 500px;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #2f313e;
    border-radius: 13px;
}

.formcontainer form input {
    padding: 10px;
    width: 70%;
    color: black;
    outline: none;
    margin: 10px;
    border: none;
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
}

.formcontainer label {
    width: 73%;
    text-align: left;
}

.formcontainer-buttoncontainer {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.formcontainer .formbutton {
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 12px;
    width: 11%;
    font-size: 14px;
    border: none;
    background-color: rgb(230, 230, 230);
    border-radius: 6px;
    text-decoration: none;
    color: #2f313e;
    cursor: pointer;
    font-weight: bold;
}

.formcontainer button:hover {
    color: #000000;
}

@media screen and (max-width:450px) {
    .add-formcontainer {
        height: 84vh;
    }

    .formcontainer form {
        width: 300px;
    }

    .formcontainer form input {
        width: 80%;
    }

    .formcontainer label {
        width: 83%;
    }

    .contact-formcontainer {
        height: 84vh;
    }
}