.addpage-maincontainer {
    height: 93vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width:450px) {
    .addpage-maincontainer {
        height: 84vh;
    }
}